<section class="weather-short">
  <div class="weather-short__inner">
    <div class="weather-short__search-container">
      <mat-icon aria-hidden="false" aria-label="Search icon" fontIcon="search">
      </mat-icon>
      <input
        type="text"
        class="weather-short__search"
        placeholder="Search for place"
        [(ngModel)]="locationInputText"
        (change)="update()"
      />

      <mat-icon
        aria-hidden="false"
        aria-label="Location icon"
        fontIcon="location_on"
      >
      </mat-icon>
    </div>

    <div class="weather-short__anim-frame">
      <img
        src="{{ weatherInfo.current.condition.icon }}"
        width="150px"
        alt="WEATHER MOOD"
      />
    </div>
    <h1 class="weather-short__tempreture">
      {{ weatherInfo.current.temp_c
      }}<sup class="weather-short__tempreture-c">°C</sup>
    </h1>
    <div class="weather-short__current-info">
      <p class="weather-short__place">
        {{ weatherInfo.location.name }}
      </p>
      <p class="weather-short__date-info">
        {{ weatherInfo.location.localtime.toDateString().split(" ")[0] }},{{
          weatherInfo.location.localtime.toDateString().split(" ")[1]
        }}
        {{ weatherInfo.location.localtime.toDateString().split(" ")[2] }}
      </p>
    </div>
    <div class="weather-short__forecast-today">
      <mat-icon aria-hidden="false" aria-label="Cloud" fontIcon="cloud_queue">
      </mat-icon>
      {{ weatherInfo.current.condition.text }}
    </div>
    <div class="weather-short__place-timezone">
      <mat-icon
        aria-hidden="false"
        aria-label="Time clock"
        fontIcon="access_time"
      >
      </mat-icon>
      {{ weatherInfo.location.localtime.getHours() }}:{{
        weatherInfo.location.localtime.getUTCMinutes()
      }}
    </div>
  </div>
</section>
