<section class="weather-short">
  <div class="weather-short__inner">
    <div class="weather-short__search-container">
      <mat-icon aria-hidden="false" aria-label="Search icon" fontIcon="search">
      </mat-icon>
      <input type="text" class="weather-short__search" placeholder="Search for place"/>
      <mat-icon
        aria-hidden="false"
        aria-label="Location icon"
        fontIcon="location_on"
      >
      </mat-icon>
    </div>

    <div class="weather-short__anim-frame"></div>
    <h1 class="weather-short__tempreture">12<sup>°C</sup></h1>
    <div class="weather-short__current-info">
      <p class="weather-short__place"></p>
      <p class="weather-short__date-info"></p>
    </div>
    <div class="weather-short__forecast-today"></div>
    <div class="weather-short__place-timezone"></div>
  </div>
</section>
